.header {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

/* Wrapper styles */
.topWrapper, .mainWrapper {
  width: 100%;
}

.topWrapper {
  background-color: var(--color-bg-dark);
}

.mainWrapper {
  background-color: var(--color-bg-light);
  padding: 16px 0;  /* Added padding to give more vertical space */
}

/* Container style */
.innerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 24px;
}

/* Group styles */
.linksGroup {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 32px;  /* This controls space between items */
  align-items: center; /* Vertically align items */
}

/* Link base styles */
.topLinks, .mainLink {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  padding: 7px 0;  /* Removed horizontal padding */
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition: border-color 100ms ease, color 100ms ease;
  letter-spacing: 0.5px;
}

/* Specific link styles */
.topLinks {
  color: var(--color-neutral);
  margin-right: 16px; /* Add gap here */
}

.topLinks:last-child {
  margin-right: 0; /* Remove gap from the last item */
}

.mainLink {
  color: var(--color-bg-dark);
  margin-right: 16px; /* Add gap here */
  font-size: var(--mantine-font-size-md); /* Increased font size */
}

.mainLink:last-child {
  margin-right: 0; /* Remove gap from the last item */
}

/* Hover states */
.topLinks:hover,
.mainLink:hover {
  text-decoration: none;
  border-bottom-color: var(--color-accent);
}

/* Active state */
.mainLink[data-active] {
  border-bottom-color: var(--color-accent);
}

.logo {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.logo:hover {
  opacity: 0.9;
  text-decoration: none;
}
